* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 500px;
  display: block;
  margin: auto;
  position: relative;
}
.container img {
  width: 100%;
}
.btn {
  display: inline-block;
  background: #454545;
  color: white;
  padding: 0.2rem;
  margin-top: 10px;
  margin-left: 40%;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: #232323;
}
.active {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  display: block;
}
